<.header>
  Send a promo code to your friend.
  <:subtitle>promo code for 10% off their first game purchase!</:subtitle>
</.header>

<div>
  <.simple_form for={@form} id="promo_form" phx-change="validate" phx-submit="save">
    <.input field={@form[:first_name]} label="First name" />
    <.input field={@form[:email]} label="Email" phx-debounce="blur" />
    <:actions>
      <.button phx-disable-with="Sending...">Send promo</.button>
    </:actions>
  </.simple_form>
</div>
