<section>
  <Component.hero content="Survey">
    <Title.title message="We'd love to hear from you">
      Please fill out our survey.
    </Title.title>
  </Component.hero>
</section>

<%= if @demographics do %>
  <DemographicsLive.Show.details demographics={@demographics} />
  <Title.title>
    Here's the deets
  </Title.title>
<% else %>
  <.live_component module={DemographicsLive.Form} id="demographics-form" current_user={@current_user} />
<% end %>
